* {
  box-sizing: border-box;
}

:root {
  --color-primary: #00bcd4;
  --color-primary-dark: #0097a7;
  --color-light: #79ecfc;

  --color-background: #f5f5f5;
  --color-secondary: #335c67;
}

body {
  background-color: var(--color-background);
  color: var(--color-secondary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-width: 320px;
  max-width: 480px;
}

/* ---------Header-------------------- */

.header__title {
  font-size: 2.8rem;
  margin: 0;

}


.btns__setting {
  display: flex;

}

.btn__settings {
  font-size: 1.2rem;
  color: white;
  background-color: var(--color-secondary);
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  min-height: 3rem;
  align-items: center;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(37, 37, 37, 0.1);
}

.btn__settings.btn__settings--accident {
  background-color: #FA5252;
  ;
}

.btn__settings:hover,
.btn__settings:focus {
  background-color: #264951;
}

.btn__settings--accident:hover,
.btn__settings--accident:focus {
  background-color: #e03131;
}

.settings__interval {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin: 0 15px;
}

.interval__input {
  text-align: right;
  border: none;
  font-size: 1.2rem;
  max-width: 40%;

}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;

}

.header__title {
  color: #023c4b;
}

/* ---------Report-------------------- */


.daily-report,
.settings__day {
  padding: 20px;
  border-bottom: 3px solid black;
}


.daily-report__list {
  padding: 0;
}

.btn__daily-report {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list__bullet {
  width: 20px;
  height: 20px;
  background-color: var(--color-primary-dark);
  border-radius: 50%;
  margin-right: 5%;
  position: relative;
}

.list__bullet::after {
  content: '';
  width: 2px;
  height: 25px;
  background-color: var(--color-secondary);
  position: absolute;
  top: 30px;
  right: 8px;
}

.img__success {
  fill: #4cc790;
}

.img__failure {
  fill: #FA5252;
}

.img__success:hover,
.img__success:focus {
  fill: #3ea175;
}

.img__failure:hover,
.img__failure:focus {
  fill: #e03131;
}

.daily-report__item {
  display: flex;
  align-items: center
}

.time {
  font-size: 1.8rem;
  width: 40%;
}

/* ---------Graphs
-------------------- */
.daily-graphs {
  padding: 20px;
}

.daily-graphs__title {
  font-weight: normal;
  font-size: 1.5rem
}

.graphs {
  max-width: 60%;
  margin-left: 30%;
  margin-bottom: 20px;
}

/* ---------Footer
-------------------- */

footer {
  color: white;
  background-color: var(--color-secondary);
  text-align: center;
  padding: 20px;
}
