* {
  box-sizing: border-box;
}

:root {
  --color-primary: #00bcd4;
  --color-primary-dark: #0097a7;
  --color-light: #79ecfc;

  --color-background: #f5f5f5;
  --color-secondary: #335c67;
  --color-success: #4cc790;
  --color-success-dark: #3ea175;
  /*  hover */
  --color-error: #FA5252;
  --color-error-dark: #e03131;
  /* hover */

}

body {
  background-color: var(--color-background);
  color: var(--color-secondary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-width: 320px;
  max-width: 480px;
  margin: auto;
}

@media screen and (min-width: 600px) {
  body {
    border: 1px solid var(--color-light);
  }
}

/* ---------Header-------------------- */

.header__title {
  font-size: 2.8rem;
  margin: 0;

}


.btns__setting {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.btn__settings {
  font-size: 1.2rem;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-grow: 1;
  flex-basis: calc(50% - 10px);
  justify-content: center;
  min-height: 3rem;
  align-items: center;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(37, 37, 37, 0.1);
}

.btn__setting--end {
  flex-basis: 100%;
}

.btn__setting--start {
  margin: 20px;
}

.btn__setting--end,
.btn__setting--start {
  background-color: var(--color-secondary)
}

.btn__setting--end:hover,
.btn__setting--end:focus,
.btn__setting--start:hover,
.btn__setting--start:focus {
  background-color: #264951;
}



.settings__interval {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin: 0 15px;
}

.interval__input {
  text-align: right;
  border: none;
  font-size: 1.2rem;
  max-width: 40%;

}


.btn__settings.btn__settings--accident {
  background-color: var(--color-error);
}

.btn__settings--accident:hover,
.btn__settings--accident:focus {
  background-color: var(--color-error-dark)
}

.btn__settings.btn__settings--unplanned {
  background-color: var(--color-success);
}

.btn__settings--unplanned:hover,
.btn__settings--unplanned:focus {
  background-color: var(--color-success-dark)
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;

}

.header__title {
  color: #023c4b;
}

/* ---------Report-------------------- */
.daily-report__container {
  margin-left: 15%;
}

.daily-report,
.settings__day {
  padding: 20px;
  border-bottom: 3px solid black;
}

.daily-report__item {
  height: 68px;
}


.daily-report__list {
  padding: 0;
}

.empty__message {
  font-style: italic;
  color: #cccccc;
}

.btn__daily-report {
  border: none;
  background-color: transparent;
  cursor: pointer;
}



.list__bullet {
  width: 20px;
  height: 20px;
  background-color: var(--color-primary-dark);
  border-radius: 50%;
  margin-right: 5%;
  position: relative;
}

.list__bullet::after {
  content: '';
  width: 2px;
  height: 25px;
  background-color: var(--color-secondary);
  position: absolute;
  top: 30px;
  right: 8px;
}

.daily-report__list li:first-child .list__times {
  background-color: #d0eaff;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.list__times {
  padding: 0 10px;
}

.daily-report__item {
  display: flex;
  align-items: center
}

.time {
  font-size: 1.8rem;
  width: 40%;
}


.img__alarmDelay {
  fill: #cccccc;
}

.img__alarmDelay:hover,
.img__alarmDelay:focus {
  fill: #a7a6a6;
}

.img__success {
  fill: var(--color-success);
}

.img__success:hover,
.img__success:focus {
  fill: var(--color-success-dark);
}

/* ---------AlarmDelayMenu
-------------------- */
.alarmDelayMenu-container {
  position: absolute;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  padding: 20px;
  font-size: 1.2rem;
  right: -20%;
  top: -30%;
}

.alarmDelayMenu-header {
  align-self: flex-start;
  font-size: 1.2rem;

}

.alarmDelayMenu-btn {
  background-color: #dddddd;
  font-size: 1rem;
  border: none;
  padding: 10px 15px;

  border-radius: 8px;
  cursor: pointer;
  text-align: center;
}


.alarmDelayMenu-btn:hover,
.alarmDelayMenu-btn:focus {
  background-color: #cccccc;
}

.alarmDelayMenu-btn--active {
  background-color: var(--color-secondary);
  color: var(--color-background);
}


.alarmDelayMenu-btn--active:hover,
.alarmDelayMenu-btn--active:focus {
  background-color: #264951;
  color: var(--color-background);
}



.alarmDelayMenu-btn.close-menu {
  background-color: var(--color-success);
  color: var(--color-background);
  align-self: flex-end;
  width: auto;

}


/* ---------Graphs
-------------------- */
.daily-graphs {
  padding: 20px;
}

.daily-graphs__title {
  font-weight: normal;
  font-size: 1.5rem;
  color: var(--color-secondary);

}

.graphs {
  max-width: 60%;
  margin-left: 30%;
  margin-bottom: 20px;
}

/* ---------Footer
-------------------- */

footer {
  color: white;
  background-color: var(--color-secondary);
  text-align: center;
  padding: 20px;
}
